*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* main style for nav */

h2.logo {
    font-weight: 800;
    font-size: 45px;
    line-height: 33px;
    color: #020000;
}
header {
    background-color: #FFF8F3;
    padding-top: 50px;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
.c {
    color: #FD6E0A;
    align-items: center;
}
.menu {
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .menu li a {
    text-decoration: none;
    color: #474747;


}
nav{
    display: flex;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
}